<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no"/>
    <title>Register page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/button.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/input.css}"/>
</head>
<body>
<h1 class="login-title">Reset password page</h1>
<form th:action="@{/updatePassword/{token}(token=${token})}" method="post" id="formWithPassword">
    <div id="personal-info" class="register-form">
        <div>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" class="form-control" required="required">
        </div>
        <div>
            <label for="passwordVerify">Verify Password</label><br>
            <input id="passwordVerify" type="password" class="form-control" required="required">
        </div>
        <div id="passwordMatch" class="password-message message"></div>
        <input class="btn btn-primary btn-large" type="submit" value="Register"/>
    </div>
</form>

<script type="text/javascript" th:src="@{/js/passwordValidation.js}" ></script>
</body>
</html>